<div id="userAddress">
    <form>
        <div class="page-title">
            <p>Address</p>
        </div>
        <div class="form-group">
            <div class="form-left">Street1</div>
            <div class="form-right">
                <input type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="form-left">Street2</div>
            <div class="form-right">
                <input type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="form-left">City</div>
            <div class="form-right">
                <input type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="form-left">State</div>
            <div class="form-right">
                <input type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="form-left">Zip Code</div>
            <div class="form-right">
                <input type="text">
            </div>
            <div class="btnContainer">
                <button class="saveBtn">Submit</button>
            </div>
        </div>
    </form>
</div>